header {
    display: flex;
    height: 70vh;
}

.header-size {
    text-align: right;
    display: block;
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100vw;

}

.header-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
}

.header-p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.button {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
}

main {
    display: block;
    background-color: #FFF;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 70vw;
    height: 100vh;
    background-color: rgb(237, 216, 216);

}

.container-img{
    display: block;
    margin-right: 20px;
    padding: auto;
}

.container-info {
    display: block;
    text-align: center;
    align-items: center;
}

.header-title{
    color: rgb(22, 30, 250);
}

.p-tags {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 18px;
}

.p-tag {
    margin: 0;
    padding-left: 60px;
    text-align: left;
}
.container-2{
    display: block;
    margin: 30px auto;
    width: 70vw;
    height: 100vh;
}
.contain-d{
    display: flex;
    justify-content: space-between;
}
.containt-item{
    display: block;
    text-align: center;
}
.item-text{

}
.item-info{

}